<br><br>
<h2 class="title">New Book</h2>
<br>

<div class="all">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control"
        formControlName="title"     
        placeholder="Mínimo 3 caracteres"   
        [ngClass]="{ 'is-invalid': submitted && form['title'].errors }"
      />
      <div *ngIf="submitted && form['title'].errors" class="invalid-feedback">
        <div *ngIf="form['title']?.errors?.['required']">Title is required</div>
        <div *ngIf="form['title']?.errors?.['minlength']">At least 3 characters</div>
        <div *ngIf="form['title']?.errors?.['maxlength']">Up to 30 characters</div>
      </div>
    </div>
    
    <div class="form-group">      
      <button type="submit" class="btn btn-primary">
        Save
      </button>
      
      <button type="button" (click)="onReset()" class="btn btn-warning float-right">
        Clean
      </button>      
    </div>

  </form>
</div>

